[url "https://{GITHUB_TOKEN}:x-oauth-basic@github.com/"]
	insteadOf = https://github.com/
[user]
	name = Hans-J. Schmid
	email = knock@myopendoor.de
[core]
	pager = bat
	editor = vim
[diff]
	tool = meld
[difftool]
	prompt = false
